
.admin-panel {
    display: flex;
    justify-content: space-around;
  }
  
  .user-list,
  .doctor-list {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 1px;
    margin: 10px;
    background-color: #ffffff;
  }
  
  .user-card,
  .doctor-card {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 7px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    
  }
  
  button {
    color: #fff;
    background-color: #007bff;
    padding: 5px 10px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }